h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

img {
  display: block;
}



.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}


.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.main-logo {
  display: block;
  padding: 16px 0;
}


.accent-black {
  color: #2e2f42;
}

.nav-list,
.contacts-list {
  display: none;
}

.menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .main-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-current {
    position: relative;
    color: #404bbf;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-current::after {
    position: absolute;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link:active {
    color: #404bbf;
    text-decoration: underline;
  }

  .main-contacts {
    font-style: normal;
    display: block;
  }


  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .adress {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .menu-btn {
    display: none;
  }

}


@media screen and (min-width: 1158px) {
  .main-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }


  .adress {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* mobile-menu */



.mobile-menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


@media screen and (min-width: 768px) {
.mobile-menu {
  display: none;
  
}
}

.mobile-menu-container {
position: relative;
padding-top: 72px;
padding-bottom: 40px;
display: flex;
flex-direction: column;
height: 100%;
}

.mobile-menu-close {
position: absolute;
left: 24px;
right: 24px;

}

.mobile-menu-nav {
  margin-bottom: auto;
}

.close-icon {
    border-radius: 100%;
      /* fill: #e7e9fc; */
      /* stroke-width: 1px; */
      /* stroke: #2e2f42; */
}

.mobile-menu-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link {
  display: block;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-current {
  position: relative;
  color: #404bbf;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-black {
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* solutions */

.main-section {
background-image:
url(../images/img/hero/hero-mob-1x.jpg), 
linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),;
border: 1px solid #000;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin: 0 auto;
padding: 96px 16px;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  max-width: 496px;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) {
.main-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), 
    url(../images/img/hero/hero-mob-2x.jpg);
}  
}

@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url(../images/img/hero/hero-tab-1x.jpg);
        margin-bottom: 96px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url(../images/img/hero/hero-tab-2x.jpg);
  }

        .main-title {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 48px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
        }
  }









.feature {
  padding: 96px 0;
  }

.feature-list {
display: flex;
flex-wrap: wrap;
gap: 72px;
  height: 100%;
}

.icon {
  display: none;
}

.feature-item {
  display: block;
  height: 100%;
}

.subsubtitle-feature {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {

  .feature-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px; 
  }
.feature-item {
    width: calc((100% - 24px) / 2);
}

  .subsubtitle-feature {
 text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .feature {
    padding: 120px 0;
  }

.feature-list {
display: flex;
flex-wrap: wrap;
align-items: center;
  gap: 24px;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

  .icon {
    display: flex;
  }

  .feature-item {
    display: block;
    width: calc((100% - 72px) / 4);
  }

  .feauture-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

.subsubtitle-feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}


.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
}


/* team */

.team {
  background: #f4f4fd;
  display: flex;
  padding: 96px 0;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-card {
  display: block;
  gap: 72px;
}

.team-card-list {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    margin-bottom: 32px;
}

.card {
  padding: 32px 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subsubtitle-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}


.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404BBF;
  transition-duration: 250ms;
}

.socials-icon {
  display: flex;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-card {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-left: 108px;
    }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 96px 0;
    }

  .team-card {
    display: flex;
    gap: 24px;
  }

  .team-card-list {
    justify-content: space-between;
    width: calc((100% - 72px) / 4);
  }

}





/* portfolio */

.project-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.project-card-list {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 48px;
  width: calc((100% - 24px) / 2);
}

.project-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.app {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover .overlay-text {
  transform: translateY(0);
}

.subsubtitle-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: left;
}



.app:hover {
  transition-duration: 250ms;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .project-card-list {
      /* display: flex;
      flex-direction: column; */
      margin-bottom: 72px;
    }

  .app {
    border: 1px solid #e7e9fc;
    width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0 120px 0;
    }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;  
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-top: auto;
}

.overlay-text {
    padding: 40px 32px;
}

}


/* footer */

.footer {
  background: #2e2f42;
  padding: 96px 0;
  height: 664px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
  padding-left: 102px;
}

.accent-white {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  margin-bottom: 72px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-text-socials {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  padding-left: 112px;
}

.socials-footer-list {
  display: flex;
  gap: 16px;
}

.footer-socials-list-item {
  width: 40px;
  height: 40px;
  margin-bottom: 72px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31D0AA;
  transition-duration: 250ms;
}

.footer-text-socials {
  margin-bottom: 16px;
}

.input-email {
}

.input-form {
  display: block;
gap: 16px;
}

.label-footer {}

.inpute-footer {
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px; 
  height: 40px;

  border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.inpute-footer::placeholder {
  color: #fff;
}
.label-footer {
}

.footer-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
}

.footer-icon-button {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
.footer {
  height: 456px;
}

  .footer-container {
    display: flex;
  }

  .footer-info {
    margin-right: 24px;
  }

  .footer-text {
    width: 264px;
  }

  .footer-socials {
    display: block;
  }
}


/* modal */

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 8px 16px 9px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404BBF;
  border: none;
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #fff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.label-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.field-wrapper {
  position: relative;
}

.input-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  /* padding-left: 38px; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border-color: #4D5AE5;
  outline: none;
}

.input-field:focus+.field-icon {
  fill: #4D5AE5;
}

.field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-wrapper:focus .field-icon {
  fill: #4D5AE5;
}

.textarea {
  margin-bottom: 16px;
}

.comment-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 138px;
  padding-top: 8px;
  padding-left: 16px;
  resize: none;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:focus {
  border-color: #4D5AE5;
}

.comment-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox {
  margin-bottom: 24px;
}

.policy-checkbox {}

.policy-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.visually-hidden:checked+label .custom-checkbox {
  fill: #F4F4FD;
  background-color: #404bbf;
  border: none;
}


.click {}

.policy-current {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.button-form {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}