h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

img {
  display: block;
}



.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}


.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.main-logo {
  display: block;
  padding: 16px 0;
}


.accent-black {
  color: #2e2f42;
}

.nav-list,
.contacts-list {
  display: none;
}

.menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .main-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-current {
    position: relative;
    color: #404bbf;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-current::after {
    position: absolute;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link:active {
    color: #404bbf;
    text-decoration: underline;
  }

  .main-contacts {
    font-style: normal;
    display: block;
  }


  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .adress {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .menu-btn {
    display: none;
  }

}


@media screen and (min-width: 1158px) {
  .main-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }


  .adress {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}


/* solutions */

.main-section {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)), 
url(../images/img/hero-section/her-mob-1x.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin: 0 auto;
max-width: 320px;

}